body {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    background-color: lightskyblue;
    /*margin-top: 20px;*/
    /*background-image: linear-gradient(90deg, #4db8ff, #FFFFFF);*/
}

h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.span12 {
    -moz-box-shadow: 0 0 3px black;
    -webkit-box-shadow: 0 0 2px black;
    box-shadow: 0 0 5px black;
    text-align: center;
    /*background-color:lightblue;*/
}

.btn-orange {
    color: black;
    background-color: orange;
    border-color: black
}

.btn-yellow {
    color: black;
    background-color: yellow;
    border-color: black
}

.btn-green {
    color: black;
    background-color: green;
    border-color: black
}

.btn-blue {
    color: black;
    background-color: lightskyblue;
    border-color: black
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}